*{
    box-sizing:border-box;
    margin:0;
    outline:none;
}
body {
    background-color: #001c29;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
.btn:focus, .btn:active {
    outline:none;
    box-shadow:none!important;
}
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: all 1s ease-in-out;
}